/*Nav Style*/
.navStyle{
    height: 80px;
    background: #2C3350;
    color: white;
    padding: 10px 10px 0 0;
    line-height: 80px;
}

.navLinks{
    color: white;
}

.navLinks:hover{
    color: white;
    text-decoration: none;
}

.signout{
    background: transparent;
    border: none;
    color: white;
}

body.signin {
    background: url("dist/fitness.jpg");
}

body.signup {
    background: url("dist/fitness.jpg");
}

/*Home Style*/
.homeLink{
    background: #2C3350;
    border-radius: 5px;
    color: white;
    padding: 15%;
}

.homeLink:hover{
    color: white;
    text-decoration: none;
}
