/*Nav Style*/
.navStyle{
    height: 80px;
    background: #004aad;
    color: white;
    padding: 10px 10px 0 0;
    line-height: 80px;
}

.navLinks{
    color: white;
}

.navLinks:hover{
    color: white;
    text-decoration: none;
}

.signout{
    background: transparent;
    border: none;
    color: white;
}

body.signin {
    background-image: url("dist/fitnessbg.png");
    -webkit-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
}

.form-contents{
    background: white;
    border-radius: 5px;
    box-shadow: 0px 4px 5px 3px lightgrey;
}

body.signup {
    background-image: url("dist/fitnessbg.png");
    -webkit-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
}

body.shop {
    background-image: url("dist/fitnessbg2.png");
    -webkit-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
}

/*Home Style*/
.homeLink{
    background: #2C3350;
    border-radius: 5px;
    color: white;
    padding: 15%;
}

.homeLink:hover{
    color: white;
    text-decoration: none;
}
